/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: var(--global-bg-color);
  height: fit-content;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--global-border-color);

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &::after {
    display: none;
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0.75em 1.5em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
      transition: color 0.2s ease-in-out;
      
      &:hover {
        color: var(--text-color);
      }
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  background-color: var(--global-bg-color);
  display: block;
  list-style-type: none;
  white-space: nowrap;
  padding: 0.25em 0.75em;
  transition: none;

  &:hover {
    background-color: transparent;
  }

  &--lg {
    padding-right: 2em;
    font-weight: 700;
    font-size: 1em;
  }
}